@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
:root{
    --primary-light-blue : hsl(238, 22%, 44%);
    --primary-dark-blue :hsl(243, 87%, 12%);

    --accent-bright-blue: hsl(224, 93%, 58%);
    --accent-moderate-cyan: hsl(170, 45%, 43%);

    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);

    --active-state:#517bec;
}
body{
    background-color: #ffff;
    font-family: 'Open Sans';
    
}
h1,h2,h3,h4,h5{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: var(--primary-dark-blue);
    line-height: 40px;
}
.upper{
    padding: 50px 0;
    /* width: 100vh; */
    /* padding-bottom: 200px */
}

.label img{
    width: 100%;
}
.section-bg{
    background-image: url(../images/bg-curve-desktop.svg);
    padding-top: 80px;
    padding-bottom:50px ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.second-bg{
    background-color: var(--primary-light-blue);
    color: #fff;
    padding: 90px;
}

.cta{
    color: #0bcc58;
}
.card{
    background-color: #ffff;
    width: 400px;
    /* padding: 26px; */
    
}
.card img{
    width: 50px;
    border-radius: 70px;
}
.profile{
    display: flex;
    gap: 20px;
    align-items: center;
}

.cta-form{
    padding: 0px 100px;
}

.btn-flyo{
    background-color: var(--accent-bright-blue);
    color: var(--light-grayish-blue);
    padding:10px 50px;
}
.btn-flyo:hover{
    background-color:var(--active-state) ;
    color: var(--light-grayish-blue);
}

footer{
    background-color: var(--primary-dark-blue);
    padding: 70px 50px;
}
footer .footer-icon{
    border: 1px solid var(--light-gray);
    border-radius: 50px;
    color: var(--light-gray);
    padding: 5px 10px;
    margin: 0px 5px;
}
@media only screen and (max-width: 600px) {
    .upper .intro-text{
        padding: 10px 30px;
        text-align: center;
    }

    .section-bg{
        background-image: url(../images/bg-curve-mobile.svg);
        padding-top: 80px;
        padding-bottom:50px ;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }
    
  }